@charset "UTF-8";

/* Thinh */
.wrp-container{
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 16px;
	box-sizing: border-box;
}
.fluid-img{
	max-width: 100%;
	height: auto;
}
.full-img{
	width: 100%;
	height: auto;
}

/* Header */
.header{
	background: #1A4899;
	padding: 10px 0;
}
.header a{
	display: inline-block;
}
.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-trigger .icn-wrap{
	color: #fff;
	cursor: pointer;
	-webkit-transition: opacity 0.15s;
	transition: opacity 0.15s;
}
.header-trigger .icn-wrap .icn{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 30px;
	height: 19px;
}
.header-trigger .icn-wrap .icn::before,
.header-trigger .icn-wrap .icn::after,
.header-trigger .icn-wrap .icn span{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 3px;
	background: #fff;
}
.header-trigger .icn-wrap .icn::before{
	top: 7px;
}
.header-trigger .icn-wrap .icn::after{
	top: 14px;
}
.header-trigger .title{
	font-family: "abolition", sans-serif;
	letter-spacing: 3px;
	font-size: 13px;
}

/* Mainvisual */
.box-mv__main{
	position: relative;
}
.box-mv__main__title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.box-mv__main__img{
	font-size: 0;
}
.box-mv__slogan{
	background: #116CB6;
	position: relative;
}
.box-mv__slogan__inner{
	position: relative;
	overflow: hidden;
	z-index: 2;
}
.box-mv__slogan__txt{
	font-size: 48px;
	line-height: 1.5;
	font-weight: bold;
	font-style: italic;
	color: #116CB6;
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
	width: 150%;
	
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);

	-moz-animation: ani-RightToLeft 30s linear infinite;
	-webkit-animation: ani-RightToLeft 30s linear infinite;
	animation: ani-RightToLeft 30s linear infinite;
}
.box-mv__slogan__fire{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

@keyframes ani-RightToLeft {
	from {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	to {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

/* Tuan */
.box-introduce{
	position: relative;
	background: #00469B;
}
.box-introduce::before{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("/files/user/lp/boosterclub/img/bg-introduce-deco01.png") no-repeat center bottom;
	background-size: cover;
	z-index: 1;
}
.box-introduce__title{
	text-align: center;
}
.box-introduce__title img{
	width: 9.883vw;
	height: auto;
}
.box-introduce__content{
	position: relative;
	z-index: 2;
	padding: 11.713vw 0 56.369vw;
}
.box-introduce__image--01{
	position: absolute;
	top: 2.928vw;
	right: 0;
}
.box-introduce__image--01 img{
	width: 38.287vw;
	height: auto;
}
.box-introduce__image--02{
	position: absolute;
	bottom: 27.452vw;
	right: 0;
}
.box-introduce__image--02 img{
	width: 32.138vw;
	height: auto;
}
.box-introduce__image--03{
	position: absolute;
	top: 5.490vw;
	left: 0;
}
.box-introduce__image--03 img{
	width: 37.775vw;
	height: auto;
}
.box-introduce__image--04{
	position: absolute;
	bottom: 0;
	left: 0;
}
.box-introduce__image--04 img{
	width: 45.315vw;
	height: auto;
}
.box-introduce__text{
	font-size: 1.318vw;
	line-height: 2.667;
	font-weight: bold;
	color: #fff;
	position: absolute;
	bottom: 0;
	right: 16.471vw;
}

/* Thuy */
.is-visiblePc{
	display: block !important;
}
.is-visibleSp{
	display: none !important;
}
@media screen and (max-width: 767px){
	.is-visiblePc{
		display: none !important;
	}
	.is-visibleSp{
		display: block !important;
	}
}
/* box-notes */
.box-notes{
	margin-top: 114px;
}
.list-notes{
	margin-top: 53px;
}
.list-notes__item{
	margin-bottom: 40px;
}
.box-notes__title{
	font-size: 32px;
	letter-spacing: 0.04em;
	color: #00469B;
}
.list-notes__title{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.04em;
	color: #000;
	padding-bottom: 5px;
	border-bottom: 1px solid #AAA9A9;
}
.list-notes__text{
	font-size: 16px;
	line-height: 1.5;
	color: #222;
	margin-top: 15px;
}
@media screen and (max-width: 767px){
	
	.box-notes__title{
		font-size: 24px;
		padding-bottom: 6px;
	}
	.list-notes__title{
		font-size: 18px;
		margin-top: 13px;
	}
	.list-notes {
		margin-top: 38px;
	}
	.list-notes__item{
		margin-bottom: 42px;
	}
}

/* box-inquiries */
.box-inquiries{
	margin-top: 136px;
}
.box-inquiries__title{
	font-size: 32px;
	letter-spacing: 0.04em;
	color: #00469B;
}
.box-inquiries__content{
	margin-top: 53px;
}
.box-inquiries__content__title{
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	color: #222;
}
.box-inquiries__text{
	font-size: 16px;
	line-height: 1.875;
	color: #222;
}
.box-inquiries__text a{
	color: #222;
	transition: opacity .15s;
	-webkit-transition: opacity .15s;
}
.box-inquiries__text a:hover{
	opacity: 0.7;
}
.box-inquiries__phone a{
	pointer-events: none;
	cursor: default;
	transition: opacity .15s;
	-webkit-transition: opacity .15s;
}
@media screen and (max-width: 767px){
	.box-inquiries{
		margin-top: 122px;
	}
	.box-inquiries__title{
		font-size: 24px;
	}
	.box-inquiries__content__title{
		font-size: 18px;
		margin-bottom: 13px;
	}
	.box-inquiries__content {
		margin-top: 37px;
	}
	.box-inquiries__text{
		margin-bottom: 2px;
	}
	.box-inquiries__hours{
		margin-bottom: 3px;
	}
	.box-inquiries__phone a{
		pointer-events: all;
	}
}

